body {
    padding: 30px;
}

.block {
    border: 5px solid red;
    max-width: 800px;
    margin: 0 auto;
    height: 2000px;
    position: relative;
}

.block div {
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;

}

.block_1 {
    background-color: red;
    position: absolute;
    width: 50%;
    left:0;
    top: 0;
}

.block_2 {
    background-color: blue;
    position: absolute;
    width: 50%;
    right: 0;
    top:0;
}

ul {
    position: absolute;
    margin-top: 100px;
}
